.red_color_class {
    background-color: red;
    color: white;
    width: 60px !important;
    text-align: center;
}
.yellow_color_class {
    background-color: yellow;
    color: white;
    width: 60px !important;
    text-align: center;
}
.green_color_class {
    background-color: green;
    color: white;
    width: 60px !important;
    text-align: center;
}